@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.projectContainer {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 150px 0 150px 0;
    padding: 100px 0 0 0;
    align-items: center;
}

.projectContainer > h1 {
    padding-bottom: 15px;
    color: bisque;
}

.projectContainer > p {
    padding-bottom: 20px;
    color: aliceblue;
}

.projectContainer__projects {
    display: flex;
    width: 80vw;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 576px) {
    .projectContainer {
        margin: 30px 0 10px 0;
        padding: 30px 0 0 0;
    }

    .projectContainer > p {
        padding-bottom: 10px;
        text-align: center;
    }

    .projectContainer__projects {
        margin-top: 10px;
    }
}