.topContainer{
    background: url("../../image/IMG-20240108-WA0044.jpg");
    height: 100vh;
    /* min-width: 100vw; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width : 576px) {
   .topContainer{
    height: 31vh;
    width: 100 auto;
    background-size: cover;
    background-position-x: -110px;
    background-color: aqua;
   }
}

